<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
			<title>Title</title>
		</head>
		<body>
			<a href="{% url 'music:index' %}">Home</a>
			<br />
			{{ all_albums }}


{% for album in all_albums %}

	{{ album.id }}
{% endfor %}



			<form action="{% url 'music:add_new_song' %}" method="post">
    {% csrf_token %}



				<div>
					<fieldset class="module aligned ">
						<div class="form-row field-album">
							<div>
								<label class="required">Album:</label>
								<div class="related-widget-wrapper">
									<select name="album">

{% for album in all_albums %}

										<option value="{{ album.id }}" name="album">{{ album.album_title }}</option>

{% endfor %}

									</select>
								</div>
							</div>
						</div>
						<div class="form-row field-file_type">
							<div>
								<label class="required" for="id_file_type">File type:</label>
								<input class="vTextField" id="id_file_type" maxlength="10" name="file_type" value="" type="text">
								</div>
							</div>
							<div class="form-row field-song_title">
								<div>
									<label class="required" for="id_song_title">Song title:</label>
									<input class="vTextField" id="id_song_title" maxlength="250" name="song_title" value="" type="text">
									</div>
								</div>
								<div class="form-row field-is_favorite">
									<div class="checkbox-row">
										<input id="id_is_favorite" name="is_favorite" type="checkbox">
											<label class="vCheckboxLabel" for="id_is_favorite">Is favorite</label>
										</div>
									</div>
								</fieldset>
								<div class="submit-row">
									<input value="Save" class="default" name="_save" type="submit">
									</div>
								</div>
							</form>
						</body>
					</html>