<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<a href="{% url 'music:index' %}">Home</a><br />

{% load static %}
<img src="{% static 'images/'%}{{ album.album_logo }}.jpg"/>

<h1>{{ album.album_title }}</h1>
<h3>{{ album.artist }}</h3>

<ul>
    {% for song in album.song_set.all %}
        <li>{% url 'music:detail' album.id %} - {{ song.file_type }}</li>
    {% endfor %}
</ul>


{% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
{% endif %}

<form action="{% url 'music:favorite' album.id %}" method="post">

    {% csrf_token %}
    {% for song in album.song_set.all %}
        <input type="radio" id="song{{ forloop.counter }}" name="song" value="{{ song.id }}">
        <label for="song{{ forloop.counter }}">
            {{ song.song_title }} - {{ song.file_type }}
            {% if song.is_favorite %}
                <img src="https://www.awicons.com/free-icons/download/internet-icons/emotion-icons-by-yellow-icon/png/16/star.png" />
            {% endif %}
        </label><br />
    {% endfor %}
    <input type="submit" value="Favorite">
</form>

Test List :
{{ mine }} <br />

Individual items in list: <br />
{% for indi in mine %}
    {{ indi }} ,
{% endfor %}


</body>
</html>