<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css">
    <title>Homepage</title>
</head>
<body>

<center>
<div class="container container-table">
<a href="{{url_for('new_student')}}">
<button type="button" class="btn btn-info">
          <span class="glyphicon glyphicon-home"></span> ENTER
        </button></a>

  </div>


</center>




</body>
</html>