<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
   <body>
<div class="container">
  <h2>Student details</h2>
  <p>Below are the list of students:</p>
  <table class="table table-bordered">
         <thead>
            <td>Name</td>
            <td>Address</td>
            <td>city</td>
            <td>Pincode</td>
         </thead>

         {% for row in rows %}
            <tr>
               <td>{{row[1]}}</td>
               <td>{{row[2]}}</td>
               <td> {{ row[3]}}</td>
               <td>{{row[4]}}</td>
            </tr>
         {% endfor %}
      </table>
</div>
      <a href = "/">Go back to home page</a>

   </body>
</html>