<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
			<title>Title</title>
		</head>
		<body>
					<a href="{% url 'music:index' %}">Home</a>
			<br />
			<form action="{% url 'music:add_new_album' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}

				<div>
					<fieldset class="module aligned ">
						<div class="form-row field-artist">
							<div>
								<label class="required" for="id_artist">Artist:</label>
								<input class="vTextField" id="id_artist" maxlength="250" name="artist" type="text" value="" />
							</div>
						</div>
						<div class="form-row field-album_title">
							<div>
								<label class="required" for="id_album_title">Album title:</label>
								<input class="vTextField" id="id_album_title" maxlength="500" name="album_title" type="text" value="" />
							</div>
						</div>
						<div class="form-row field-genre">
							<div>
								<label class="required" for="id_genre">Genre:</label>
								<input class="vTextField" id="id_genre" maxlength="250" name="genre" type="text" value="" />
							</div>
						</div>
						<div class="form-row field-album_logo">
							<div>
								<label class="required" for="id_album_logo">Album logo:</label>
								<input class="vTextField" id="id_album_logo" maxlength="1000" name="album_logo" type="text" value="" />
							</div>
						</div>
						<div class="form-row field-test">
							<div>
								<label class="required" for="id_test">Test:</label>
								<input class="vTextField" id="id_test" maxlength="1000" name="test" type="text" value="" />
							</div>
						</div>

                        <input type="file" name="myfile">
					</fieldset>
					<div class="submit-row">
						<input type="submit" value="Save" class="default" name="_save" />
					</div>
				</div>
			</form>


		</body>
	</html>