<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<a href="{% url 'music:index' %}">Home</a><br />

{% if all_albums %}
<h1>Album List:</h1>

<ul>
    {% for album in all_albums %}
        <li><a href="/music/{{ album.id }}/">{{ album.album_title }}</a></li>
    {% endfor %}
</ul>

{% else %}
    <h3>You dont have any albums</h3>
{% endif %}

<p> Add new list : <a href="/music/add_new_album/">Add new Album</a>  <a href="/music/add_new_song/">Add new Song</a></p>

</body>
</html>